/* Variable definitions for all the colors */
* {
    -background1: #FFFFFF;
    -background2: #D1D1D1;
    -primary1: #5293A5;
    -primary2: #97BEC9;
    -primary3: #AFD8E3;
    -add-remove: #FAB42D;
    -red: #FF1515;
    -green: #00900E;
}

@font-face{
    src:url("resources/AvenirBook.ttf");
}

.list-cell {
    -fx-font-size: 1.5em;
    -fx-background-color: -primary2;
}
.list-cell:odd {
    -fx-font-size: 1.5em;
    -fx-background-color: derive(-primary2, -5%);
}
.list-cell:hover {
    -fx-background-color: -primary3;
}
.list-cell:selected {
    -fx-text-fill: white;
    -fx-background-color: -primary1;
}
.list-cell:empty {
    -fx-opacity: 0;
}

.tabLink {
    -fx-font-size:20;
}

.round-button {
    -fx-background-radius: 135px;
    -fx-background-color: -add-remove;
}
.round-button-disabled {
    -fx-background-radius: 135px;
    -fx-background-color: derive(-add-remove, -20%);
}

.round-button:hover {
    -fx-background-color: rgba(250, 180, 45, 0.8);
}

.round-button:pressed {
    -fx-background-color: -add-remove;
}

.side-panel {
    -fx-background-color: -primary2;
}

.side-panel-header {
    -fx-background-color: -primary1;
}

.cart-checkout-button {
    -fx-background-color: green;
}

.cart-checkout-button:hover {
    -fx-background-color: rgba(0, 128, 0, 0.8);
}

.cart-checkout-button:pressed {
    -fx-background-color: green;
}

.empty-cart-button {
    -fx-background-color: -primary2;
}

.center-stage {
    -fx-background-color: background2;
}

.toolbar {
    -fx-background-color: -primary1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.save-Button{
  -fx-background-color: green;
}
.search-box {
  -fx-background-color: -primary1;
  -fx-background-radius: 15px;
}


#background {
    -fx-background-color: -background2;
}

.accordion{
    background-color: #5293a5;
    color: #5293a5;
    font-family: Trebuchet MS;
    font-size: 10pt;
    border: solid 1px Black;
}


.accordion > .titled-pane {
    -fx-padding: 0 0 0.5em 0;
    -fx-text-fill: #ffffff;
    -fx-color-label-visible: #5293a5;
}

.accordion > .titled-pane > .title {
    -fx-background-color: #5293a5;
}

.history-button {
    -fx-background-color: green;
    -fx-text-fill: #FFFFFF;
}

.shadowedpane {
    -fx-background-color: rgba(0, 0, 0, 0.75);
}
.text-area .content {
     -fx-background-color: -fx-background;
}

.text-area {
    -fx-background-color: -fx-background;
}

.keep-shopping-button {
     -fx-background-color: green;
     -fx-background-radius: 20px;
 }

.keep-shopping-button:hover {
    -fx-background-color: rgba(0, 128, 0, 0.8);
}

.keep-shopping-button:pressed {
    -fx-background-color: green;
}

.quit-button {
    -fx-background-color: red;
    -fx-background-radius: 20px;
}

.quit-button:hover {
    -fx-background-color: rgba(255, 0, 0, 0.8);
}

.quit-button:pressed {
    -fx-background-color: red;
}

.save-Button:hover {
    -fx-background-color:rgba(0, 128, 0, 0.8);
}

.save-Button:pressed {
    -fx-background-color: green;
}

.blue-button {
    -fx-background-color: #5293A5;
    -fx-border-color:  #005871;
}

.blue-button:hover {
    -fx-background-color: rgba(82, 147, 165, 0.8);
}

.blue-button:pressed {
    -fx-background-color: #5293A5;
}

.heart-image:hover {
    -fx-opacity: 0.6;
}

.heart-image:pressed {
    -fx-opacity: 1;
}

.ToFinish-Button{
    -fx-background-color: -green;
 }

.ToFinish-Button:hover {
    -fx-background-color: rgba(0, 128, 0, 0.8);
}

.ToFinish-Button:pressed {
    -fx-background-color: green;
}
.back-tocheckaout{
     -fx-background-color: #5293A5;
    -fx-border-color:  #005871;
    }

 .back-tocheckaout:hover{
 -fx-background-color: rgba(82, 147, 165, 0.8);
 }
.back-tocheckaout:pressed{
 -fx-background-color: #5293A5;
 }
 .saveConfirmation{
      -fx-background-color: #5293A5;
     -fx-border-color:  #005871;
     }

  .saveConfirmation:hover{
  -fx-background-color: rgba(82, 147, 165, 0.8);
  }
 .saveConfirmation:pressed{
  -fx-background-color: #5293A5;
  }








