/* Variable definitions for all the colors */
* {
    -background1: #FFFFFF;
    -background2: #D1D1D1;
    -primary1: #5293A5;
    -primary2: #97BEC9;
    -primary3: #AFD8E3;
    -add-remove: #FAB42D;
    -red: #FF1515;
    -green: #00900E;
}

.list-cell {
    -fx-font-size: 1.5em;
    -fx-background-color: -primary2;
}
.list-cell:odd {
    -fx-font-size: 1.5em;
    -fx-background-color: derive(-primary2, -5%);
}
.list-cell:hover {
    -fx-background-color: -primary3;
}
.list-cell:selected {
    -fx-text-fill: white;
    -fx-background-color: -primary1;
}
.list-cell:empty {
    -fx-opacity: 0;
}

.round-button {
    -fx-background-radius: 35px;
    -fx-background-color: -add-remove;
}

.side-panel {
    -fx-background-color: -primary2;
}

.side-panel-header {
    -fx-background-color: -primary1;
}

.cart-checkout-button {
    -fx-background-color: green;
}

.center-stage {
    -fx-background-color: background2;
}

.toolbar {
    -fx-background-color: -primary1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.save-Button{
  -fx-background-color: green;
}


#background {
    -fx-background-color: -background2;
}

.accordion{
    background-color: #5293a5;
    color: #5293a5;
    font-family: Trebuchet MS;
    font-size: 10pt;
    border: solid 1px Black;
}


.accordion > .titled-pane {
    -fx-padding: 0 0 0.5em 0;
    -fx-text-fill: #ffffff;
    -fx-color-label-visible: #5293a5;
}

.accordion > .titled-pane > .title {
    -fx-background-color: #5293a5;
}